.banner__{
  &container{
    background-image: url(../../assets/img/banner2.JPG);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100vh;
   
    &_background{
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.795);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      
    }
  }
}