.home__{

    &container{
        display: flex;
        flex-direction: column;
        max-width: 1224px;
      
        min-height: 100vh;
        width: 100%;
    
        background-color: black;
       
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;

        &_title{
            font-size: 1.5rem;
        }
    }

    

     &section-1{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-top: 1rem;
     }
}

.home__section_part-1{
    width: 100%;
    height: 20rem;
    display: flex;

    // justify-content: ;
    margin: 1rem 0 5rem 0;
    font-family: 'Times New Roman', Times, serif;

    outline: 1px dashed goldenrod;
    position: relative;
   
    img{
        width: 20rem;
    }

   

    &_article{
       
        width: 100%;
        
        h4{
            font-size: 1.5rem;
          
        }

        p{
            text-align: start;
            padding: 0;
        }
    }

    &_viewCourseBtn{
        position: absolute;
        border: 1px dashed goldenrod;
        border-radius: 0;
        max-width: 7rem;
        background-color: transparent;
        right: 2rem;
        bottom: 2rem;
    }

     //mediaquery
     @media screen and (max-width: 768px) {
        flex-direction: column;
        width: calc(100% - 5px);
        margin: 0 auto;
        padding-bottom: 2rem;
        margin-bottom: 50px;
        img{
            width: 5rem;
            position: absolute;
        }

        &_article{
       
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content:flex-end;
           
         
            h4{
                font-size: 1rem;
                text-align: end;
                padding-top: 7px;
                padding-right: 2rem;
            }
    
            p{
                text-align: start;
                padding: 0 1rem;
                font-size: .8rem;
            }
        }
    }
    


}

