@import "../../../assets/sass/mixins.scss";
.modalUserOptions__main {
  //flexbox
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  //position
  top: 5rem;

  right: 0%; /* para centrarlo horizontalmente desde la mitad del padre */
  transform: translateX(-50%); 

  //sizes
  width: 20rem;
  height: 30rem;

  //box-decoration
  border: 1px dashed goldenrod;
  border-radius: 2px;

  z-index: 100;
  user-select: none;
  
  //bg
  background-color: rgb(110, 129, 12);
  background-image: url("/src/assets/owner_photos/10.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //shadow
  box-shadow: 200px 40px 400px 0px rgba(0,0,0,0.86) inset;
  -webkit-box-shadow: 200px 40px 400px 0px rgba(0,0,0,0.86) inset;
  -moz-box-shadow: 200px 40px 400px 0px rgba(0,0,0,0.86) inset;
  &-icon-default {
    width: 2rem;
    height: 2rem;
    padding-left: 1rem;
  }

  h4 {
    margin: 1rem 0 0 0;
    padding: 0;
    font-weight: 400;
    color: #f2f2f2;
    font-size: 1.5rem;
    strong {
      color: rgb(134, 159, 7);
      padding-left: 0.3rem;
    }
  }

  ul {
    list-style: none;

    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

    height: 90%;
    padding: 0;
    padding-top: 3rem;
    gap: 3rem;

    li {
      width: 95%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      color: #f2f2f2;

      height: 3rem;

      // border-bottom: 1px solid #9f9f9f;
      cursor: pointer;
      border-radius: 0.5rem;
      &:hover {
        background-color: rgba(45, 44, 44, 0.698);
      }
      p {
        padding-right: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .modalUserOptions__main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: calc(100% - 20rem);
    width: 20rem;
    height: calc(100vh - 4rem);

    background-color: rgb(27, 27, 27);
    flex-direction: column;
    border-left: 1px dashed goldenrod;

    border-radius: 0px;

    z-index: 100;

    ul {
      list-style: none;

      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      align-items: center;

      height: 100%;

      li {
      }
    }
  }
}
