.courseModules {
  width: 95%;
  min-height: 20rem;

  
  padding-top:  1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.addNewModule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  min-height: 4rem;
  padding: 1rem;

  &__btn_ {
    &add,
    &cancel {
      min-width: 20rem;
    }
    &add {
      background-color: rgba(0, 128, 0, 0.835);
    }
    &cancel {
      background-color: rgba(128, 34, 0, 0.835);
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input,
    textarea {
      border-radius: 1rem;
      width: 20rem;
      padding: 0.5rem 1rem;
      outline: none;
      border: none;
    }
    input {
      height: 2rem;
    }

    input:focus,
    textarea:focus {
      border: 1px solid rgba(255, 255, 255, 0.131);
      box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.074);
    }
    button {
      background-color: rgba(0, 128, 0, 0.835);
    }

    textarea {
      height: 10rem;
    }
  }
}

#input_add_video{
  display: none;
}