#root {
  
  margin: 0 auto;

  text-align: center;
}






main{
  background: rgb(0,0,0);

}
.app__container{
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

}