.courses__{
&container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    min-height: 100vh;
    color: white;

  }


  &temarios{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0 ;
    border: 1px solid rgb(139, 139, 15);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.123);
    width: calc(100% / 3 );
    height: 25rem;
    overflow-y: scroll;

    &_lista{
      padding: 5px;
      margin: 0;
      list-style: none;
      
      text-align: start;
      font-size: 1.2rem;

    }
  }
}