.header__{
  &container{
      display: flex;
      flex-direction: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      background-color: rgb(0, 0, 0);
      
  }

  &logo{
    
    height: 70px;
  }


  &instagram_container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
  }
}