.home__{

    &container{
        display: flex;
        flex-direction: column;
        
      
        height: 100vh;
        width: 100%;
    

       
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

     &divisor{
        width: 100%; 

        border-bottom: 1px solid white;
     }
}