

.courses__container {
  padding: 20px;
  background-color: #000;
  max-width: 1224px;
  margin: 0 auto;
  padding: 5rem 0;
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
  
  list-style: none;
  gap: 2rem;
}
